@font-face {
    font-family: 'FilosofiaOT';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/FilosofiaOTRegular.eot');
    src: url('../fonts/FilosofiaOTRegular.eot') format('embedded-opentype'), url('../fonts/FilosofiaOTRegular.woff2') format('woff2'), url('../fonts/FilosofiaOTRegular.woff') format('woff'), url('../fonts/FilosofiaOTRegular.ttf') format('truetype'), url('../fonts/FilosofiaOTRegular.svg#FilosofiaOTRegular') format('svg');
}

@font-face {
    font-family: 'FilosofiaOT';
    font-style: bold;
    font-weight: bold;
    src: url('../fonts/FilosofiaOTBold.eot');
    src: url('../fonts/FilosofiaOTBold.eot') format('embedded-opentype'), url('../fonts/FilosofiaOTBold.woff2') format('woff2'), url('../fonts/FilosofiaOTBold.woff') format('woff'), url('../fonts/FilosofiaOTBold.ttf') format('truetype'), url('../fonts/FilosofiaOTBold.svg#FilosofiaOTBold') format('svg');
}

@font-face {
    font-family: 'FilosofiaOT';
    font-style: italic;
    src: url('../fonts/FilosofiaOTItalic.eot');
    src: url('../fonts/FilosofiaOTItalic.eot') format('embedded-opentype'), url('../fonts/FilosofiaOTItalic.woff2') format('woff2'), url('../fonts/FilosofiaOTItalic.woff') format('woff'), url('../fonts/FilosofiaOTItalic.ttf') format('truetype'), url('../fonts/FilosofiaOTItalic.svg#FilosofiaOTItalic') format('svg');
}

body {
    background-color: #ffffeb;
    overflow-x: hidden;
    font-family: 'FilosofiaOT';
    hyphens: auto;
}

h1 {
    margin: 0;
}

#texto-sobre {
    font-size: 1.5rem;
    display: block;
    height: auto;
}

.grande-letra {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
    font-style: italic;
}

.grande-letra::first-letter {
    font-size: 3rem;
}

.grande-letra+p {
    text-align: right;
    margin-top: 0;
}

.estamos-sobre {
    width: auto;
    display: block;
    padding: 40px 20px;
    color: black;
    position: relative;
    margin-left: 30px;
}

.estamos-sobre>div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.estamos-sobre img {
    position: absolute;
    height: 150%;
    width: auto;
    transform: rotate(180deg);
}

.atordoamento-sobre {
    width: auto;
    display: block;
    /* background-color: #e6007e66; */
    padding: 40px 20px;
    color: black;
    position: relative;
    margin: 30px 30px 0 0;
}

.border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    top: -10px;
    left: -10px;
    z-index: 10;
}

#estamos-sobre>p {
    display: inline-block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#objeto1 {
    display: inline-block;
    flex: 33%;
    margin: 0 20px 0 -200px;
}

#objeto1>img {
    width: 100%;
}

#objeto1+div {
    flex: 66%;
    display: inline-block;
}

#loading {
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: #ffffeb;
}

#loading-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
}

#loading-container img {
    height: 200px;
    animation: rotate 24s linear;
}

#loading-container p {
    margin: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(-360deg);
    }
}

nav,
.mobile-nav {
    display: flex;
    justify-content: space-between;
    z-index: 99;
    font-family: 'FilosofiaOT';
    font-size: 1.5rem;
}

nav {
    padding: 0 30px;
}

#nav-tremores ul a {
    color: black;
}

#nav-nomades {
    color: white;
}

.mobile-nav {
    display: none;
    flex-direction: column;
    height: 100%;
    bottom: 0;
    position: fixed;
}

.menubutton {
    display: none;
}

#mirada-hatch {
    text-decoration: none;
    padding: 14px 16px;
    background-color: #e6007e;
    color: white;
}

ul {
    list-style-type: none;
    /* padding: 0; */
}

nav a,
.mobile-nav a {
    text-decoration: none;
}

#nav-nomades a {
    color: white;
}

nav ul {
    display: flex;
    gap: 60px;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#experimente {
    display: none;
}

#header-sobre {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

#header-sobre+h1 {
    display: none;
}

#exp-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url("../img/linhas.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#experimente-tremores,
#experimente-nomades {
    display: inline-block;
    width: 350px;
    margin: auto;
    height: 400px;
    line-height: 400px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    border: 3px solid pink;
}


/* #experimente-tremores {
    background-image: url("../img/linhas.png");
}

#experimente-nomades {
    background-image: url("../img/furacao.png");
} */

.container {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: none;
}

#headertrovao {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

section {
    margin-bottom: 200px;
}

.socials {
    margin-top: 70px;
}

.socials h4 {
    margin-bottom: 10px;
}

.socials img {
    height: 30px;
}

.socials a {
    margin-right: 15px;
}

#inteiro {
    margin-top: 550px;
}

.elemento {
    position: absolute;
    z-index: -1;
}

#linhas {
    width: 57%;
    top: 1050px;
    right: 10%;
}

#saida {
    width: 57%;
    top: 2600px;
    left: 300px;
}

#mancha1,
#mancha2,
#mancha3,
#furac {
    width: 57%;
}

#mancha1 {
    top: 4000px;
    left: 300px;
}

h2,
h4 {
    font-family: 'FilosofiaOT';
    font-weight: bold;
    font-style: bold;
}

h2 {
    font-size: 36px;
}

.poema p,
h3 {
    font-family: 'FilosofiaOT';
    font-weight: normal;
    font-style: normal;
}

h4 {
    font-size: 1.3rem;
}

h3 {
    font-size: 22px;
    margin: -30px 0 0 0;
    text-indent: 150px;
}

.poema p {
    font-size: 25px;
    line-height: 30px;
}


/* NOMADES E FORTES */

#headernomades {
    width: 150%;
    position: absolute;
    top: -25%;
    left: -20%;
    z-index: -1;
}

.titlecontainer {
    height: 100vh;
}

#titlenomades {
    font-family: 'FilosofiaOT';
    font-weight: bold;
    font-size: 10rem;
    color: white;
    text-align: center;
    position: absolute;
    line-height: 9rem;
    top: 50%;
    transform: translateY(-50%);
}

#nos {
    text-align: right;
    color: white;
}

#sempre>h3 {
    text-align: right;
    color: #929292;
    font-family: 'FilosofiaOT';
    font-style: italic;
}

#rio {
    width: 57%;
    top: 229%;
    right: 19%;
}

#espera p {
    text-align: right;
    margin-right: 30%;
}

#onda {
    width: 57%;
    top: 432%;
    right: 23%;
}

#compre {
    text-align: center;
}

#compre a {
    display: block;
    width: 300px;
    height: 4rem;
    line-height: 4rem;
    background-color: #e6007e;
    margin: 30px auto 0 auto;
    border: none;
    color: white;
    text-decoration: none;
}

.margin-100 {
    margin-top: 100px;
}


/* RESPONSIVE STUFF */

@media only screen and (max-device-width: 812px) {
    .container {
        padding: 0 15px;
    }
    .elemento {
        display: none;
    }
    nav {
        display: none;
    }
    .mobile-nav {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .mobile-nav li {
        padding: 15px 0;
        font-size: 2rem;
    }
    #nav-nomades {
        background-color: #131726;
    }
    #mirada-hatch {
        text-decoration: none;
        margin: 0 60px;
        background-color: #e6007e;
        color: white;
        text-align: center;
        bottom: 0;
    }
    .menubutton {
        display: block;
        padding: 10px;
        height: 24px;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 100;
    }
    /* #atordoamento p {
        font-size: 1.35rem !important;
    } */
    #headertrovao {
        width: 100vw;
        height: auto;
        position: absolute;
        /* right: 50%; */
        top: 0;
        z-index: -1;
    }
    #inteiro {
        margin-top: 0;
    }
    #objeto1 {
        flex: 100%;
        margin: 0 0 20px 0;
    }
    #objeto1+div {
        flex: 100%;
    }
    #header-sobre {
        display: none;
    }
    .grande-letra {
        font-size: 2rem;
        margin-top: 30px;
    }
    #header-sobre+h1 {
        display: table-cell;
        height: 200px;
        vertical-align: middle;
        background-color: #e6007e;
        color: white;
        font-size: 3rem;
        text-align: center;
    }
}